

<div class="mt-90px">
    <div class="row">
        
        {{#each courses}}
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-3" >
                    <a href="/courses/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.desc}}</p>
                        <a href="#" class="btn btn-primary">Buy Courses</a>
                    </div>
                </div>
            </div>
        {{else}}
            <img src="https://images.unsplash.com/photo-1594322436404-5a0526db4d13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2029&q=80" class="img-fluid" alt="...">
        {{/each}}
    </div>
</div>